body.light-mode {
    background-image: url('../assets/bg_light.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.4s ease;
}

body.dark-mode {
    background-image: url('../assets/bg_dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.4s ease;
}

#desktop {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    transition: color 0.3s ease;
}

body.light-mode #desktop {
    color: #8c1414;
}

body.dark-mode #desktop {
    color: #e8eaf6;
}

.shortcut {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}

a.shortcut p{
    width: 30px;
    margin: 0px 0px 0px 0px;
}

body.dark-mode a.shortcut p {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

body.light-mode a.shortcut p {
    text-shadow: 2px 2px 0 #ad1457, 2px -2px 0 #ad1457, -2px 2px 0 #ad1457, -2px -2px 0 #ad1457, 2px 0px 0 #ad1457, 0px 2px 0 #ad1457, -2px 0px 0 #ad1457, 0px -2px 0 #ad1457;
}

a.shortcut:visited {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}
