body.light-mode {
    background-image: url('../assets/bg_light.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.3s, color 0.3s;
}

body.dark-mode {
    background-image: url('../assets/bg_dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#desktop {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.shortcut {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}

a.shortcut p{
    width: 30px;
    box-shadow: 0 0 2px black;
    margin: 0px 0px 0px 0px;
}

a.shortcut:visited {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}
