#theme-toggle {
    cursor: pointer;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 24px;
    background: linear-gradient(90deg, #23272f 30%, #353b48 70%);
    color: #f3f3f3;
    font-weight: 500;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    transition: background 0.3s, color 0.3s;
    margin-left: auto;
    margin-right: 10px;
}

#theme-toggle.dark {
    background: linear-gradient(90deg, #f5f6fa 30%, #dcdde1 70%);
    color: #f5f6fa;
}


#theme-toggle:hover {
    transform: scale(1.03);
}