@font-face {
    font-family: "FinalFantasy";
    src: url("../assets/OPTIEngeEtienne.otf");
}

#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1000;
    border-style: solid;
    border-width: 1.5px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s, color 0.2s;
    padding: 0 0 0 0;
}

body.light-mode #taskbar {
    background: linear-gradient(90deg, #f8bbd0 0%, #fce4ec 100%);
    border-color: #f48fb1;
    color: #ad1457;
}

body.dark-mode #taskbar  {
    background: linear-gradient(90deg, #283593 0%, #0d47a1 100%);
    border-color: #1a237e;
    color: #e3f2fd;
}


#theme-toggle {
     cursor: pointer;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 24px;
    font-weight: 500;
    font-size: 1em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    transition: background 0.2s, color 0.2s;
    margin-left: auto;
    margin-right: 20px;
}


body.light-mode #theme-toggle {
    background: linear-gradient(0deg, rgba(248, 187, 208, 0.786) 30%, rgba(252, 228, 236, 0.5) 70%);
    color: #ad1457;
}

body.dark-mode #theme-toggle {
    background: linear-gradient(0deg, rgba(40, 53, 147, 0.803) 30%, rgba(13, 71, 161, 0.175) 70%);
    color: #e3f2fd;
}

    
#theme-toggle:hover {
    transform: scale(1.03);
}

#desktopbutton {
    cursor: pointer;
    height: 50px;
    width: 12px;
    border: none;
    transition: background 0.2s, color 0.2s, transform 0.2s;
    margin-left: auto;
    outline: none;
}

body.light-mode #desktopbutton {
    background: linear-gradient(0deg, rgba(248, 187, 208, 0.786) 30%, rgba(252, 228, 236, 0.5) 70%);
}

body.dark-mode #desktopbutton {
    background: linear-gradient(0deg, rgba(40, 52, 147, 0.803) 30%, rgba(13, 71, 161, 0.178) 70%);
}

span#name {
    font-family: "FinalFantasy";
    font-size: 40px;
    margin-left: 4px;
}

span#greeting {
    font-size: 20px;
    font-family: "FinalFantasy";
    margin-top: auto;
    margin-left: 5px;
}